$yellow: #fffa19;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    padding: 30px 30px 30px 30px;
    background-color: $yellow;
    color: black;
    @include margenes(55px, 0px);
}

footer{
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    @include margenes(10px, 0px);
}

.card-hotel {
    flex: 1 200px;
    @include margenes(10px, 0px);
}

.card-information {
    padding: 2px 5px 2px 5px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.bi {
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    padding-left: 2%;
    padding-right: 2%;
}

.tab-content {
    padding-top: 10px;
}
