.jumbotron {
  padding: 30px 30px 30px 30px;
  background-color: #fffa19;
  color: black;
  margin-top: 55px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #fffa19;
  margin-top: 10 px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10 px;
  margin-bottom: 0px;
}
.card-information {
  padding: 2px 5px 2px 5px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.bi {
  padding-right: 10px;
}
a {
  text-decoration: none;
  color: black;
}
.navbar {
  padding-left: 2%;
  padding-right: 2%;
}
.tab-content {
  padding-top: 10px;
}
